@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Rixel';
    src: url('../public/fonts/Rixel.otf');
}

html,
body {
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply mx-auto max-w-full px-5 md:px-6 xl:max-w-[1280px];
    }
}
.section_title {
    @apply text-white font-rixel text-4xl md:text-6xl text-center uppercase;
}
